/*************************************************************************
*RenegadeEx
*
*Copyright notice for this file:
*Copyright (C) 2008 Viper187 / Psycho Snake Creations
*
*This program is free software: you can redistribute it and/or modify
*it under the terms of the GNU General Public License as published by
*the Free Software Foundation, either version 2 of the License, or
*(at your option) any later version.
*
*This program is distributed in the hope that it will be useful,
*but WITHOUT ANY WARRANTY; without even the implied warranty of
*MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*GNU General Public License for more details.
*
*You should have received a copy of the GNU General Public License
*along with this program.  If not, see <http://www.gnu.org/licenses/>.
**************************************************************************/
#include "main_gui.h"

DLG_RENEGADEX DIALOGEX 4,4,402,286
CAPTION PROGRAM_NAME
FONT 10,"MS Sans Serif",400,0,0
STYLE WS_VISIBLE|DS_CENTER|WS_SYSMENU
BEGIN
  CONTROL "",TAB_MAIN,"SysTabControl32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|TCS_FOCUSNEVER,0,0,403,287
END

DLG_HOOK DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 5,5,396,333
FONT 10,"MS Sans Serif",0,0,0
STYLE 0x0004 | WS_CHILD
BEGIN
  CONTROL "",LSV_HOOK_PROCESSES,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_REPORT,7,24,147,219,WS_EX_CLIENTEDGE
  CONTROL "",CMB_HOOK_PRESETS,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,226,27,117,137
  CONTROL "Program Path",LBL_HOOK_PROG_PATH,"Static",WS_CHILD|WS_VISIBLE,184,78,51,11
  CONTROL "",TXT_HOOK_PROG_PATH,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY,241,78,83,12,WS_EX_CLIENTEDGE
  CONTROL "Process Name",LBL_HOOK_EXENAME,"Static",WS_CHILD|WS_VISIBLE,184,94,51,11
  CONTROL "",TXT_HOOK_EXENAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,241,93,102,11,WS_EX_CLIENTEDGE
  CONTROL "RAM Start",LBL_HOOK_STARTADDY,"Static",WS_CHILD|WS_VISIBLE,184,109,51,11
  CONTROL "",TXT_HOOK_RAMSTART,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,241,108,45,11,WS_EX_CLIENTEDGE
  CONTROL "",CMB_HOOK_START_TYPE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,292,108,51,36
  CONTROL "RAM Size (hex)",LBL_HOOK_RAMSIZE,"Static",WS_CHILD|WS_VISIBLE,184,124,51,11
  CONTROL "",TXT_HOOK_RAMSIZE,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,241,124,45,11,WS_EX_CLIENTEDGE
  CONTROL "Byte Order",LBL_HOOK_ENDIAN,"Static",WS_CHILD|WS_VISIBLE,184,139,51,11
  CONTROL "",CMB_HOOK_ENDIAN,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,241,139,102,45
  CONTROL "Add Preset",CMD_HOOK_ADD_PRESET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,184,214,48,12
  CONTROL "Update Preset",CMD_HOOK_UP_PRESET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,240,214,48,12
  CONTROL "Presets",LBL_HOOK_PRESET,"Static",WS_CHILD|WS_VISIBLE,184,28,39,11
  CONTROL "Delete Preset",CMD_HOOK_DEL_PRESET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,295,214,48,12
  CONTROL "Hook Type",LBL_HOOK_HTYPE,"Static",WS_CHILD|WS_VISIBLE,184,61,51,11
  CONTROL "Process",OPT_HOOK_PROCESS,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,243,61,41,11
  CONTROL "File",OPT_HOOK_FILE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,295,61,48,12
  CONTROL "Preset Name",LBL_HOOK_PNAME,"Static",WS_CHILD|WS_VISIBLE,184,45,51,11
  CONTROL "",TXT_HOOK_PNAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,241,45,102,11,WS_EX_CLIENTEDGE
  CONTROL "Refresh",CMD_HOOK_REFRESH_PROCS,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,7,12,38,11
  CONTROL "Launch + Hook",CMD_HOOK_LAUNCH,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,52,12,48,12
  CONTROL "Auto Find EXE",LBL_HOOK_AUTOFIND,"Static",WS_CHILD|WS_VISIBLE,184,156,51,11
  CONTROL "",CMB_HOOK_AUTOFIND,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,241,156,102,87
  CONTROL "Export Preset",CMD_HOOK_EXPORT_PRESET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,184,232,48,12
  CONTROL "Import Preset",CMD_HOOK_IMPORT_PRESET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,240,232,48,12
  CONTROL "Reset ALL",CMD_HOOK_DEFAULT_PRESETS,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,295,232,48,12
  CONTROL "Full Process",CHK_HOOK_ALL_RAM,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,292,124,51,12
  CONTROL "Search Access",LBL_HOOK_ACCESS_TYPE,"Static",WS_CHILD|WS_VISIBLE,184,171,51,12
  CONTROL "",CMB_HOOK_ACCESS_TYPE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,241,171,102,57
  CONTROL "Run Preset",CMD_HOOK_RUN_PRESET,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,106,12,48,12
  CONTROL "Set",CMD_HOOK_PROG_PATH,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,324,78,20,12
  CONTROL "Game System",LBL_HOOK_SYSTEM,"Static",WS_CHILD|WS_VISIBLE,184,186,51,12
  CONTROL "",CMB_HOOK_SYSTEM,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,241,184,102,71
  CONTROL "Code/Entry Offset (NDS Only)",LBL_HOOK_ENTRY_OFFSET,"Static",WS_CHILD|WS_VISIBLE,184,199,98,12
  CONTROL "",TXT_HOOK_ENTRY_OFFSET,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,277,199,45,12,WS_EX_CLIENTEDGE
END

DLG_CODE_SEARCH DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 6,6,396,333
FONT 10,"MS Sans Serif",0,0,0
STYLE 0x0004 | WS_CHILD
BEGIN
  CONTROL "Search Size",GRP_CS_SEARCH_SIZE,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,10,10,105,29
  CONTROL "",CMB_CS_SEARCH_SIZE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,18,21,90,81
  CONTROL "Compare To",GRP_CS_COMPARE_TO,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,124,10,90,29
  CONTROL "",CMB_CS_COMPARE_TO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,132,21,75,111
  CONTROL "Search Type",GRP_CS_SEARCH_TYPE,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,10,43,204,59
  CONTROL "",CMB_CS_SEARCH_TYPE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,18,64,189,165
  CONTROL "Value(s)",LBL_CS_VALUES,"Static",WS_CHILD|WS_VISIBLE,18,85,33,11
  CONTROL "",TXT_CS_VALUE1,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,48,85,71,12,WS_EX_CLIENTEDGE
  CONTROL "",TXT_CS_VALUE2,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,135,85,71,12,WS_EX_CLIENTEDGE
  CONTROL "-",LBL_CS_VALUE2,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,120,85,12,12
  CONTROL "Extended Search Options",GRP_CS_EXSEARCH,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,10,109,375,146
  CONTROL "",LSV_CS_EXSEARCH,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_SINGLESEL,18,120,360,131,WS_EX_CLIENTEDGE
  CONTROL "Init",CMD_CS_QUICK_INIT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,91,51,20,11
  CONTROL "==",CMD_CS_QUICK_EQUAL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,115,51,20,11
  CONTROL "!=",CMD_CS_QUICK_NOTEQUAL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,139,51,20,11
  CONTROL ">",CMD_CS_QUICK_GREATER,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,163,51,20,11
  CONTROL "<",CMD_CS_QUICK_LESS,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,187,51,20,11
  CONTROL "Quick:",LBL_CS_QUICK_SEARCH,"Static",WS_CHILD|WS_VISIBLE,66,51,21,11
  CONTROL "",TXT_CS_EX_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,27,163,57,12,WS_EX_CLIENTEDGE
  CONTROL "Search",CMD_CS_SEARCH,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,247,10,48,12
  CONTROL "Undo Search",CMD_CS_UNDO,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,304,28,48,12
  CONTROL "Load Search",CMD_CS_LOAD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,247,28,48,12
  CONTROL "Results",LBL_CS_RESLABEL,"Static",WS_CHILD|WS_VISIBLE,255,49,30,12
  CONTROL "0",LBL_CS_RESCOUNT,"Static",WS_CHILD|WS_VISIBLE|SS_SUNKEN,288,49,57,12
  CONTROL "Dump Only",CMD_CS_DUMP,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,304,10,48,12
  CONTROL "Search Progress",GRP_CS_PROGRESS,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,247,67,104,26
  CONTROL "",PGB_CS_PROGRESS,"msctls_progress32",WS_CHILD|WS_VISIBLE,250,78,98,12
  CONTROL "",HDR_CS_MENU,"SysHeader32",WS_CHILD|WS_VISIBLE|HDS_BUTTONS,0,1,400,8
END

CODE_SEARCH_MENU MENU DISCARDABLE
BEGIN
    POPUP "Options"
    BEGIN
        POPUP "Dump Folder"
        BEGIN
            MENUITEM "...", MNU_CS_DUMP_DIR
            MENUITEM "Change", MNU_CS_SET_DUMP_DIR
        END
        POPUP "Input Type"
        BEGIN
            MENUITEM "Hexadecimal",MNU_CS_INPUT_HEX
            MENUITEM "Decimal",MNU_CS_INPUT_DEC
            MENUITEM "Float/Double",MNU_CS_INPUT_FLOAT
        END
    END
END

DLG_SETTINGS DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 5,5,396,333
FONT 10,"MS Sans Serif",0,0,0
STYLE 0x0004 | WS_CHILD
BEGIN
  CONTROL "Code Search",GRP_SETT_CS,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,6,239,102
  CONTROL "Input Type",LBL_SETT_NUM_BASE,"Static",WS_CHILD|WS_VISIBLE,13,19,38,12
  CONTROL "Decimal",OPT_SETT_DEC,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,54,18,44,12
  CONTROL "Hexadecimal",OPT_SETT_HEX,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,100,18,56,12
  CONTROL "Float/Double",OPT_SETT_FLOAT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,160,18,53,12
  CONTROL "Search Results/Dumps Folder",LBL_SETT_DUMP_DIR,"Static",WS_CHILD|WS_VISIBLE,13,36,98,12
  CONTROL "",TXT_SETT_DUMP_DIR,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,111,36,108,12,WS_EX_CLIENTEDGE
  CONTROL "Set",CMD_SETT_DUMP_DIR,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,220,36,17,12
  CONTROL "Results Tester Write Rate",LBL_SETT_RES_WRITE,"Static",WS_CHILD|WS_VISIBLE,13,52,86,12
  CONTROL "",CMB_SETT_RES_WRITE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,105,51,65,60
END

DLG_SEARCH_RESULTS DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 4,4,396,333
FONT 10,"MS Sans Serif",0,0,0
STYLE 0x0004 | WS_CHILD
BEGIN
  CONTROL "Results",GRP_RES_RESULTS,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,3,12,251,257
  CONTROL "Active Codes",GRP_RES_ACTIVE,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,260,12,127,197
  CONTROL "",LSV_RES_RESULTS,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_SINGLESEL,7,19,238,245,WS_EX_CLIENTEDGE
  CONTROL "",LSV_RES_ACTIVE,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_SINGLESEL,264,19,119,185,WS_EX_CLIENTEDGE
  CONTROL "Address",LBL_RES_ADDRESS,"Static",WS_CHILD|WS_VISIBLE,262,217,36,11
  CONTROL "",TXT_RES_ADDRESS,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,262,226,36,11,WS_EX_CLIENTEDGE
  CONTROL "Value",LBL_RES_VALUE,"Static",WS_CHILD|WS_VISIBLE,301,217,41,11
  CONTROL "",TXT_RES_VALUE,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,301,226,41,11,WS_EX_CLIENTEDGE
  CONTROL "",CMB_RES_SIZE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,344,226,41,47
  CONTROL "Size",LBL_RES_SIZE,"Static",WS_CHILD|WS_VISIBLE,344,217,41,8
  CONTROL "",VSCROLL_RES_RESULTS,"ScrollBar",WS_CHILD|WS_VISIBLE|SBS_VERT,246,19,6,245
  CONTROL "",HDR_RES_MENU,"SysHeader32",WS_CHILD|WS_VISIBLE|HDS_BUTTONS,0,1,400,8
  CONTROL "Add",CMD_RES_ADD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,264,244,37,10
  CONTROL "Delete",CMD_RES_DEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,304,244,37,10
  CONTROL "Clear All",CMD_RES_CLEAR,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,345,244,37,22
  CONTROL "All On",CMD_RES_ALL_ON,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,264,256,37,10
  CONTROL "All Off",CMD_RES_ALL_OFF,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,304,256,37,10
END

RES_LIST_MENU MENU DISCARDABLE
BEGIN
    POPUP "View"
    BEGIN
        MENUITEM "Hexadecimal",MNU_RES_SHOW_HEX
        MENUITEM "Decimal (Unsigned)",MNU_RES_SHOW_DECU
        MENUITEM "Decimal (Signed)",MNU_RES_SHOW_DECS
        MENUITEM "Float/Double",MNU_RES_SHOW_FLOAT
    END
    POPUP "Export"
    BEGIN
        POPUP "Hexadecimal"
        BEGIN
            MENUITEM "All",MNU_RES_EXPORT_HEX
        END
        POPUP "Decimal (Unsigned)"
        BEGIN
            MENUITEM "All",MNU_RES_EXPORT_DECU
        END
        POPUP "Decimal (Signed)"
        BEGIN
            MENUITEM "All",MNU_RES_EXPORT_DECS
        END
        POPUP "Float/Double"
        BEGIN
            MENUITEM "All",MNU_RES_EXPORT_FLOAT
        END
        POPUP "Codes"
        BEGIN
            MENUITEM "All",MNU_RES_EXPORT_GS,GRAYED
        END
    END
    POPUP "Options"
    BEGIN
        MENUITEM "Memory Editor Follows Highlighted Results",MNU_RES_RAM_VIEW
        POPUP "Activation Speed"
        BEGIN
            MENUITEM "Off",MNU_RES_WRITE_OFF
            MENUITEM "10ms",MNU_RES_WRITE_10MS
            MENUITEM "100ms",MNU_RES_WRITE_100MS
            MENUITEM "500ms",MNU_RES_WRITE_500MS
            MENUITEM "1 Second",MNU_RES_WRITE_1S
            MENUITEM "10 Seconds",MNU_RES_WRITE_10S
            MENUITEM "30 Seconds",MNU_RES_WRITE_30S
            MENUITEM "1 Minute",MNU_RES_WRITE_1M
        END
    END
END

DLG_MEMORY_EDITOR DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 4,4,396,333
FONT 10,"MS Sans Serif",0,0,0
STYLE 0x0004 | WS_CHILD
BEGIN
  CONTROL "",HDR_MEM_MENU,"SysHeader32",WS_CHILD|WS_VISIBLE|HDS_BUTTONS,0,1,400,8
  CONTROL "",LSV_MEM_EDITOR,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_SINGLESEL|LVS_REPORT,1,13,399,262,WS_EX_CLIENTEDGE
  CONTROL "",TXT_MEM_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,11,33,51,10,WS_EX_CLIENTEDGE
END

MEMORY_EDITOR_MENU MENU DISCARDABLE
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Save Dump",MNU_MEM_SAVE_DUMP
    END
    POPUP "View"
    BEGIN
        POPUP "Refresh Rate"
        BEGIN
            MENUITEM "Off", MNU_MEM_REFRESH_OFF
            MENUITEM "10ms", MNU_MEM_REFRESH_10MS
            MENUITEM "100ms", MNU_MEM_REFRESH_100MS
            MENUITEM "500ms", MNU_MEM_REFRESH_500MS
            MENUITEM "1 Second", MNU_MEM_REFRESH_1S
            MENUITEM "10 Second", MNU_MEM_REFRESH_10S
            MENUITEM "30 Second", MNU_MEM_REFRESH_30S
            MENUITEM "1 Minute", MNU_MEM_REFRESH_1M
        END
        MENUITEM "Byteswapped", MNU_MEM_SHOW_BYTESWAPPED
    END
END

DLG_CHEAT DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 4,4,396,333
FONT 10,"MS Sans Serif",0,0,0
STYLE 0x0004 | WS_CHILD
BEGIN
  CONTROL "",HDR_CHEAT_MENU,"SysHeader32",WS_CHILD|WS_VISIBLE|HDS_BUTTONS,0,1,400,8
  CONTROL "Game Name",GRP_CHEAT_GAME_NAME,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,3,10,77,32
  CONTROL "",TXT_CHEAT_GAME_NAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,9,25,66,11,WS_EX_CLIENTEDGE
  CONTROL "",CMB_CHEAT_CODE_TYPE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,88,25,65,71
  CONTROL "Code Type",GRP_CHEAT_CODE_TYPE,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,84,10,73,32
  CONTROL "",LSV_CHEAT_CODES,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS,3,48,154,211,WS_EX_CLIENTEDGE
  CONTROL "Code",GRP_CHEAT_CODE,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,194,10,162,119
  CONTROL "",TXT_CHEAT_CODE,"Edit",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_MULTILINE,200,19,150,106,WS_EX_CLIENTEDGE
  CONTROL "Note(s)",GRP_CHEAT_NOTE,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,194,141,162,119
  CONTROL "",TXT_CHEAT_NOTE,"Edit",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_MULTILINE,200,150,150,106,WS_EX_CLIENTEDGE
  CONTROL "Set Code",CMD_CHEAT_SET_CODE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,260,132,36,11
  CONTROL "",TXT_CHEAT_CODE_NAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,73,72,50,11,WS_EX_CLIENTEDGE
END

CHEAT_MENU MENU DISCARDABLE
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "New DB", MNU_CHEAT_NEW_DB
        MENUITEM "Open DB", MNU_CHEAT_OPEN_DB
        MENUITEM "Save DB", MNU_CHEAT_SAVE_DB
        MENUITEM "Save DB As", MNU_CHEAT_SAVE_DB_AS
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Set All Codes OFF", MNU_CHEAT_ALL_OFF
        MENUITEM "Set All Codes ON", MNU_CHEAT_ALL_ON
        POPUP "Write Speed"
        BEGIN
            MENUITEM "Off",MNU_CHEAT_WRITE_OFF
            MENUITEM "5ms",MNU_CHEAT_WRITE_5MS
            MENUITEM "10ms",MNU_CHEAT_WRITE_10MS
            MENUITEM "100ms",MNU_CHEAT_WRITE_100MS
            MENUITEM "500ms",MNU_CHEAT_WRITE_500MS
            MENUITEM "1 Second",MNU_CHEAT_WRITE_1S
            MENUITEM "5 Seconds",MNU_CHEAT_WRITE_5S
            MENUITEM "10 Seconds",MNU_CHEAT_WRITE_10S
            MENUITEM "30 Seconds",MNU_CHEAT_WRITE_30S
        END
    END
END

DLG_CHEAT_BUTTON DIALOGEX 5,5,247,161
CAPTION "Press a Key"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_THICKFRAME|DS_CENTER
BEGIN
END

/*
MainAccel ACCELERATORS
{
    VK_F5,  VKEY_CMD_F5,       VIRTKEY
}
*/
